/*=== UNIVERSAL SELECTOR ====*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


#main {

}

#main-title {
    background-color: #4e4e4e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    height: 80px;
    width: 100%;
    padding: 10px;
}

#main-body {
    display: flex;
    justify-content: space-around;
    margin: 32px 10px;
}

.Card {
    width: 350px;
    margin: 10px;
    min-height: 400px;
    box-shadow: 2px 2px 20px 1px grey; /*=== x-offset y-offset blur-radius spread color ====*/
    border-radius: 10px;
}

.Cardtitle {
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 10px 10px 0 0;
}

.Cardbody {
    padding: 10px 10px 0 10px;
}

.Card:first-child .Cardtitle {
    background-color: rgb(230, 89, 7);
}
.Card:nth-child(2) .Cardtitle {
    background-color: rgb(253, 187, 7);
}
.Card:nth-child(3) .Cardtitle {
    background-color: rgb(9, 45, 250);
}

.Card:first-child {
    border-bottom: 5px solid rgb(230, 89, 7);
}
.Card:nth-child(2) {
    border-bottom: 5px solid rgb(253, 187, 7);
}
.Card:nth-child(3) {
    border-bottom: 5px solid rgb(9, 45, 250);
}

ul, ol {
    padding: 0;
    margin: 0;
    font-size: large;
}

ul li, ol li {
    list-style-position: inside;
    padding: 10px 16px;
}

ol li:nth-child(even) {
    background-color: #e6e6e6;
}

dt {
    font-weight: bolder;
    color: red;
}


