

table {
    border-collapse: collapse;
    margin-bottom: 30px;
}

/* table, th, td {
    border: 2px solid gray;
} */

tr {
    height: 50px;
}

th, tr, td {
    width: 100px;
}

tr:nth-child(odd) {
    background-color: #41413f;
}

tr:nth-child(even) {
    background-color: #8d8d8a;
}

th, td {
    border-bottom: 5px solid #05dcf8;
}